@import "tailwindcss";

@theme {
    --color-primary: #143FFF;
    --color-secondary: #3589FF;
    --color-bg: #fff;
}

[data-theme="dark"] {
    --color-primary: #3589FF;
    --color-secondary: #143FFF;
    --color-bg: #121212;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

@keyframes roles {

    0%,
    40% {
        transform: translateY(0);
    }

    50%,
    70% {
        transform: translateY(-2.3rem);
    }

    80%,
    100% {
        transform: translateY(-4.7rem);
    }
}

.animate-roles {
    animation: roles 6s ease-in-out infinite alternate;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: calc(3rem + 2rem);
}